{{#if user.username}}
<h1>Welcome to your profile page {{user.username}}!</h1>
<img src="{{user.imageUrl}}" class="img-fluid" alt="{{user.username}}" />
<div>
<h1> Available items</h1>
</div>
<div class="row">
{{#each items}}
<div class="col-md-4 mb-5">
<div class="card" style="width: 18rem;">
<img src="{{imageUrl}}"class="card-img-top" alt="{{name}}" />
<h6 class="card-title">Name: {{name}}</h6> 
<a href="/items/{{_id}}/edit" class="btn btn-primary">Edit</a>
<form action="/items/{{_id}}/delete" class="btn btn-primary" method="POST">
      <button>Delete</button>
    </form>
</div>
      </div>
    </div>
{{/each}}
<div> 
{{else}}
  <p>Still not logged in, sorry!</p>
    </div>
{{/if}}

<a href="/item-create" class="btn btn-primary">Add a new item</a>

<h1> Rented items</h1>
<div class="row">
{{#each itemsSelected}}
<div class="col-md-4 mb-5">
<div class="card" style="width: 18rem;">
<img src="{{imageUrl}}"class="card-img-top" alt="{{name}}" />
<h6 class="card-title">Name: {{name}}</h6> 
<form action="/{{_id}}/comments-create" class="btn btn-primary" method="POST">
      <button>Leave a comment</button>
    </form>


<form action="/items/{{_id}}/return" class="btn btn-primary" method="POST">
      <button>Return</button>
    </form>
</div>
      </div>
    </div>
{{/each}}

