{{!-- <h1>{{appTitle}} 🚀</h1> --}}

<div class="container-fluid" style="margin-top: 5em; margin-bottom: 5em; background-color: #486a8f;">
    <div class="row">
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/ddxvju14s/image/upload/v1706012634/ygxwva1qdtqo7roqutxm.jpg" alt="Indeximage" class="img-fluid" style="height: 100%;">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center text-white">
            <p style="margin-left: -12em; font-size: 2.2em; font-style: italic;">More than 200.000<br>original garments<br>verified per day</p>
        </div>
    </div>
</div>


<h1 style="font-family: 'Helvetica', sans-serif; color: #333 ;text-align: center; padding-top: 20px; padding-bottom: 40px">All Available garments</h1>

<div class="container">
  <div class="row" style="margin: 0em; padding: 0em;">

<div class="container">
  <div class="row" style="margin: 0; padding: 0;">

    {{#each items}}
    <div class="col-md-4 mb-5" style="height: 38em;">
      <div class="card" style="height: 36em; padding: 1em; background: linear-gradient(to bottom, #ECF0F1, #ffffff);">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}" style="width: 100%; height: 94%; object-fit: cover;">
        <div class="card-body text-center">
          <h3><a href="/items/{{_id}}" class="card-title" style="font-size: 1.5rem; text-decoration: none; color: #333; font-family: 'Helvetica', sans-serif;">{{name}}</a></h3>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>




<h1 style="font-family: 'Helvetica', sans-serif; color: #333; text-align: center; padding-top: 20px; padding-bottom: 40px">Rented! Be back soon</h1>
<div class="container">
  <div class="row" style="margin: 0; padding: 0;">

    {{#each itemsRented}}
    <div class="col-md-4 mb-5" style="height: 38em;">
      <div class="card" style="height: 36em; padding: 1em; background: linear-gradient(to bottom, #ECF0F1, #ffffff);">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}" style="width: 100%; height: 75%; object-fit: cover; margin: 0 auto;">
        <div class="card-body text-center">
          <h3><a href="/items/{{_id}}" class="card-title" style="font-size: 1.5rem; text-decoration: none; color: #333; font-family: 'Helvetica', sans-serif;">{{name}}</a></h3>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
