<h1>Item details</h1>
<div class="row">
   
<img src="{{imageUrl}}"class="card-img-top" alt="{{name}}" />
<h6 class="card-title">Name: {{name}}</h6> 
<p class="card-text">Category: {{category}}</p>
<p class="card-text">Description: {{description}}</p>
<p class="card-text">Price: {{price}} € per day</p>
<a href='/items/:itemId/rent' class="btn btn-primary">Select</a>


